
@import "scss/reset.scss";
@import "scss/fades.scss";
@import "scss/colors.scss";
@import "scss/game-screen.scss";

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  text-align: center;

}

h2 {}

h3 {
  font-size: 36px;
  color: $primary-color;
  text-align: center;
}

p {
  margin: 0;
  text-align: center;
}



/* ---- layout ---- */

html, body {
  height: 100%;
}


.container {
  margin: 0 20px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.start.screen div {
  height: 100%;
}

header {
  flex: 1;
  padding-top: 20px;
  margin-bottom: 30px;
}

.section {
  flex: 5;
}

footer {
  flex: 1;
  background-color: $secondary-color;
  text-align: center;
}

footer div {
  display: inline-block;
  text-align: center;
  margin: auto;
  color: white;
  padding: 10px;
}

.touch-left{
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  // background-color: rgb(250, 92, 29);
  // opacity: .4; 

}

.touch-right{
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  // background-color: rgb(204, 204, 204);
  // opacity: .4; 

}

.touch-top{
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  // background-color: rgb(48, 36, 206);
  // opacity: .4; 

}


// @media (min-width: 768px) {
//   .container {
//     max-width: 728px;
//     margin: 0 auto;
//   }
// }





/* ---- components ---- */



/* ---- START SCREEN ---- */

.start-screen {
  margin: 0 40px;
  height: 100%;
}

.start-screen div {
  display: inline-block;
  margin: auto;
}

.start-screen button {
  border: 3px solid $primary-hover;
  color: $primary-hover;
  padding: 10px 30px;
  display: block;
  margin: 20px auto;
  background-color: white;
}

.start-screen button:hover {
  color: white;
  background-color: $primary-hover;
  cursor: pointer;
}

.start-screen button:active {
  border: 3px solid $primary-color;
  background-color: $primary-color;
  
}

.start-screen button:focus {
  outline: none;
}

.start-screen button[disabled] {
  background-color: #ccc;
  cursor: default;
}


/* ---- END SCREEN ---- */

.end-screen {
  margin: 0 30px;
  height: 100%;
}

.end-screen div {
  display: inline-block;
  margin: auto;
}

.end-screen button {
  border: 3px solid $primary-hover;
  color: $primary-hover;
  padding: 10px 30px;
  display: block;
  margin: 20px auto;
  background-color: white;
}

.end-screen button:hover {
  color: white;
  background-color: $primary-hover;
  cursor: pointer;
}

.end-screen button:active {
  border: 3px solid $primary-color;
  background-color: $primary-color;
  
}

.end-screen button:focus {
  outline: none;
}